/* common */

p {
  font-size: 16px;
}

.box-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

label.required:after {
  content: "*";
  color: red;
}

label span.badge {
  border-radius: 50%;
  cursor: help;
}

/* create-auction.html */

/* profile.html */

.profile-pic {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #eceeef;
  border-radius: 50%;
  max-height: 250px;
  display: block;
  margin: auto;
}

.profile-pic:hover {
  opacity: 0.7;
}

.vcen {
  vertical-align: top;
}

#balance {
  padding: 1em;
  background: white;
  border-radius: 2px;
}

@media screen and (max-width: 480px) {
  #info-container {
    text-align: center !important;
  }
  #balance {
    width: 100% !important;
  }
}

/*register.html*/

#new_user label {
  float: left;
  clear: left;
  width: 100px;
}

#new_user {
  padding-top: 50px;
  padding-left: 450px;
}

#new_user input {
  margin-top: 4px;
}

#signUp {
  position: fixed;
  padding: 30px;
}

/*about.html*/

#aboutComputers {
  float: right;
  margin: 50px;
}

#about {
  text-indent: 20px;
  margin-left: 20px;
}

#about .image_cap {
  margin-top: 10px;
  margin-left: 150px;
  float: left;
}

#about .caption {
  position: relative;
  left: 140px;
  top: 5px;
  border: dashed;
}

#signin.btn-xs {
  padding: 1em;
  padding-bottom: 2em;
  margin-left: 15em;
  width: 90px;
  height: 3em;
  font-size: 12px;
}

.title.jumbotron {
  padding-top: 1.5em;
  padding-bottom: 1em;
}

#signin.nav-item.dropdown a {
  margin-left: 20em;
  width: 10em;
}

/*manage_moderators.html*/
#moderatorsList tbody tr:nth-child(odd){
  background-color: rgba(0,0,0,.075); 
}

#moderatorsList tbody tr:nth-child(even){
  background-color: white; 
}

#moderatorsList tbody tr:nth-child(even):hover{
  background-color: #9fcdff;

}

#moderatorsList tbody tr:nth-child(odd):hover{
  background-color: #9fcdff; 
}

#moderatorsList .removeBtt{
  visibility: hidden;
}

#createModBtt{
  visibility: hidden;
}
