/* common */

p {
  font-size: 16px;
}

.box-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

label.required:after {
  content: "*";
  color: red;
}

label span.badge {
  border-radius: 50%;
  cursor: help;
}

/* create-auction.html */

/* profile.html */

.profile-pic {
  border-radius: 50%;
  max-height: 250px;
  display: block;
}

.w-border {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #eceeef;
}

.profile-pic:hover {
  opacity: 0.7;
  cursor: pointer;
}

.vcen {
  vertical-align: top;
}

#balance {
  padding: 1em;
  background: white;
  border-radius: 2px;
}

@media screen and (max-width: 480px) {
  #info-container {
    text-align: center !important;
  }
  #balance {
    width: 100% !important;
  }
}

/*about.html*/

#aboutComputers {
  float: right;
  margin: 50px;
}

#about {
  text-indent: 20px;
  margin-left: 20px;
}

#about .image_cap {
  margin-top: 10px;
  margin-left: 150px;
  float: left;
}

#about .caption {
  position: relative;
  left: 140px;
  top: 5px;
  border: double;
}

#signin.btn-xs {
  padding: 1em;
  padding-bottom: 2em;
  margin-left: 14em;
  width: 90px;
  height: 3em;
  font-size: 12px;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
}

.title.jumbotron {
  padding-top: 1.5em;
  padding-bottom: 1em;
}

#signin.nav-item.dropdown a {
  margin-left: 18em;
  width: 10em;
}

/*manage_moderators.html*/

#moderatorsList tbody tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, .075);
}

#moderatorsList tbody tr:nth-child(even) {
  background-color: white;
}

#moderatorsList tbody tr:nth-child(even):hover {
  background-color: #9fcdff;
}

#moderatorsList tbody tr:nth-child(odd):hover {
  background-color: #9fcdff;
}

#moderatorsList .removeBtt {
  visibility: hidden;
}

#createModBtt {
  visibility: hidden;
}

.editModBtt {
  cursor: pointer;
}

.img-fluid {
  max-height: 20em;
}

#pagination {
  display: inline-block;
  vertical-align: middle;
  float: right;
}

#profileNav {
  margin-left: 12%;
}

#profileNav li.nav-item {
  margin-right: 0;
  padding-right: 0;
  text-align: right;
}

#bidViewer {
  z-index: 1;
}

#signin.nav-item.dropdown a#registerNav {
  padding-left: 0;
  margin-left: 1em;
}

#menuCat {
  margin-top: .2em;
}

@media screen and (min-width: 480px) {
  #catNav {
    width: 100%;
  }
  #catNav>div:nth-child(1), #catNav ul#categories.mr-auto {
    width: 100%;
    padding-left: 0;
    margin: 0;
    &:extend(.btn-group-justified all);
  }
}

@media screen and (max-width: 350px) {
  #signin.nav-item.dropdown a {
    margin-left: 50%;
  }
  #signin.nav-item.dropdown .dropdown-menu {
    max-width: 95%;
  }
  div.btn-group:nth-child(2) {
    margin-top: 1em;
    margin-left: 0;
  }
  div.btn-group:nth-child(2)>.btn-group {
    max-width: 36%;
  }
}

@media screen and (max-width: 570px) {
  #profileNav {
    margin-left: 0;
  }
  #profileNav li a.nav-link {
    margin-right: 1.5em;
  }
  #profileNav li a {
    position: relative;
    display: inline-block;
    float: right;
  }
}

@media screen and (max-width: 1280px) {
  #catNav ul#categories.mr-auto::before {
    content: '\A';
    clear: right;
    display: block;
  }
  #catNav ul#categories.mr-auto {
    width: 100%;
    display: block;
  }
}

@media screen and (max-width: 480px) {
  #auctionProfile {
    margin-left: 1em;
    margin-bottom: 1em;
  }
  #time-bids ul li {
    width: 45%;
    display: inline-block;
  }
  #navbarColor01 {
    max-width: 100%;
    margin: auto;
  }
  .bidsListViewMore .form-control, .sellsListViewMore .form-control {
    width: 100%;
    display: inline;
  }
  .bidsListViewMore form span, .sellsListViewMore span {
    padding: 0;
    flex: 0 0 3.0%;
  }
  .bidsListViewMore form input, .sellsListViewMore form input {
    padding-left: 1em;
    padding-right: 0;
  }
  .bidsListViewMore form .btn, .sellsListViewMore form .btn {
    padding-right: 0.5em;
    padding-left: 0.5em;
  }
}

nav.navbar:nth-child(2) {
  padding-top: 1em;
}

#catNav ul, #time-bids ul {
  list-style-type: none;
}

#auctionsMosaic {
  list-style-type: none;
  padding-left: 1em;
}

#auctionName {
  margin-top: 1em;
}

#timeLeft {
  border-width: medium;
  border-right: 1px solid;
}

.bidsListViewMore, .sellsListViewMore {
  text-align: center;
}