.profile-pic {
  border-radius: 50%;
  max-height: 250px;
  display: block;
  margin: auto;
}

.profile-pic:hover {
  opacity: 0.7;
}

.vcen {
    vertical-align: top;
}

p {
  font-size: 15px;
}

.clear-bot {
  padding-bottom: 1em;
}

/*register.html*/

#new_user label{
    float: left;
    clear: left;
    width: 100px;
}

#new_user{
  padding-top: 50px;
  padding-left: 450px;
}

#new_user input{
    margin-top: 4px;
}

#signUp{
    position: fixed;
    padding: 30px;
}

/*about.html*/

#aboutComputers{
  float: right;
  margin: 50px;
 
}

#about{
  text-indent: 20px;
  margin-left: 20px;
}

#about .image_cap{
  margin-top: 10px;
  margin-left: 150px; 
  float: left;
}

#about .caption{
  position: relative;
  left: 140px;
  top: 5px;
  border: dashed; 
}
